.b1{
    width:150px;
    height: 60px;
     background-color: blue;
     margin:15px;
     color:white;
}
.b2{
    width:150px;
    height: 60px;
     background-color: blue;
     margin:15px;
     color:white;
}